{{#each listings}}
<div class="carousel-item listingModule">
    <img class="d-block w-100 housePicture" src="{{this.picturePath}}" data-listing-id="{{this.id}}" alt="House Listing">
        <div class="col-lg-12 moreInformation">
            <button type="button" class="btn btn-info matchbtn" data-toggle="collapse" data-target="#{{this.id}}">More Information</button>
        </div>
        <div id="{{this.id}}" class="collapse out">
	        <p>Bedrooms: {{this.bedrooms}}</p>
	        <p>Bathrooms: {{this.bathrooms}}</p>
		</div>
</div>
{{/each}}
