<div class= "row">
	<div class="col-lg-12" align="center">
		<img class= "head" src="assets/img/adoor-white.png">
	</div>
</div>

<table>
    <thead> 
        <th>Address</th> 
        <th>City</th> 
        <th>Bedrooms</th> 
        <th>Bathrooms</th> 
        <th>Price</th> 
        <th>Image</th> 
    </thead> 

    <tbody> 
        {{#listings}} 
        <tr> 
            <td>{{address}}</td> 
            <td>{{city}}</td> 
            <td>{{bedrooms}}</td> 
            <td>{{bathrooms}}</td> 
            <td>{{price}}</td> 
            <td>{{picturePath}}</td> 

        </tr> 
        {{/listings}} 
    </tbody> 
</table>
		