<div class= "row">
    <div class="col-lg-4">
        <a href="/matching">
            <img class="backbtn" src="assets/img/back-to-matching.png">
        </a>        
    </div>
	<div class="col-lg-4" align="center">
		<img class= "head logo" src="assets/img/logo.png">
	</div>
    <div class="col-lg-4">        
    </div>
</div><br>

<table class="myMatchesContainer">
    <thead> 
        <th class="myMatchesHeader">Address</th> 
        <th class="myMatchesHeader">City</th> 
        <th class="myMatchesHeader">Bedrooms</th> 
        <th class="myMatchesHeader">Bathrooms</th> 
        <th class="myMatchesHeader">Price</th> 
        <th class="myMatchesHeader">Image</th> 
    </thead> 

    <tbody> 
        {{#each listings}} 
        <tr> 
            <td>{{this.address}}</td> 
            <td>{{this.city}}</td> 
            <td>{{this.bedrooms}}</td> 
            <td>{{this.bathrooms}}</td> 
            <td>{{this.price}}</td> 
            <td>{{this.picturePath}}</td> 

        </tr> 
        {{/each}} 
    </tbody> 
</table>

<script type="text/javascript" src="/js/my-matches.js"></script>
		