<div class= "row">
	<div class="col-lg-12" align="center">
		<img class= "head" src="assets/img/adoor-white.png">
	</div>
</div>

<table class="myMatchesContainer">
    <thead> 
        <th class="myMatchesHeader">Address</th> 
        <th class="myMatchesHeader">City</th> 
        <th class="myMatchesHeader">Bedrooms</th> 
        <th class="myMatchesHeader">Bathrooms</th> 
        <th class="myMatchesHeader">Price</th> 
        <th class="myMatchesHeader">Image</th> 
    </thead> 

    <tbody> 
        {{#listings}} 
        <tr> 
            <td>{{address}}</td> 
            <td>{{city}}</td> 
            <td>{{bedrooms}}</td> 
            <td>{{bathrooms}}</td> 
            <td>{{price}}</td> 
            <td>{{picturePath}}</td> 

        </tr> 
        {{/listings}} 
    </tbody> 
</table>
		